{
	"converse" : 
	{
		"nicemice_npc" : 
		{
			"default" : 
			[
				"I am here to run errandz. Pleaze leave me alone."
			],
			"apex" :
			[
				"Here to buy bananaz, enforzer?"
			],
			"nuu" : 
			[
				"Didn't ekzpect to zee zomeone like you around here."
			],
			"peglaci" : 
			[
				"Ekzcuze moi."
			],
			"alta" : 
			[
				"Greetingz, child of Elin."
			],
			"satkyterran" : 
			[
				"Hello, armored friend."
			],
			"burmecian" : 
			[
				"Who vould have t'ought zat two zuch different mize vould meet in a plaze like ziz?"
			],
			"viera" : 
			[
				"You're a long vay from home, vood varder."
			],
			"femalefeolviera" : 
			[
				"You're a long vay from home, vood varder."
			],
			"femaleveenaravaviera" : 
			[
				"You're a long vay from home, vood varder."
			],
			"malefeolviera" : 
			[
				"You're a long vay from home, vood varder."
			],
			"maleveenaravaviera" : 
			[
				"You're a long vay from home, vood varder."
			],
			"moogle" : 
			[
				"Goodnezz graziouz, it muzt be even harder for you to avoid being ztepped on around here."
			],
			"blattra" : 
			[
				"I'm zurprized they let you in here, tallroach."
			],
			"gilten" : 
			[
				"Zurely you have better plazez to be zan ziz dump, non?"
			],
			"bangaa" : 
			[
				"Greetingz, bangaa."
			],
			"squamaeft" : 
			[
				"Ziz plaze doez not zeem your type. Iz it humid enough in here for you?"
			],
			"penguin" : 
			[
				"Ziz plaze iz infezted with piratez, I zee."
			],
			"lastree" : 
			[
				"Greetingz, horned one."
			],
			"human" : 
			[
				"Don't zpeak to me. Don't look at me. Zut."
			],
			"floran" : 
			[
				"If I vanted a plant'z opinion, I vould go talk to one zat haz mannerz."
			],
			"glitch" : 
			[
				"Ekzbokz go home."
			],
			"avian" : 
			[
				"Vat do you vant, you mite-ridden pezt?"
			],
			"hylotl" :
			[
				"Zorry, I came here to buy grozeriez, not talk to ztinky fizh."
			],
			"novakid" : 
			[
				"Can you tone down your brightnezz?"
			],
			"shadow" : 
			[
				"Pizz off. Nobody likez you."
			],
			"neki" : 
			[
				"Return to your litterbokz, you dizguzting animal."
			],
			"glutt" : 
			[
				"My condolenzez to you for... Ekzizting. Yuck."
			],
			"renamonlk" : 
			[
				"You're even uglier in perzon. Incredible."
			],
			"sirene" : 
			[
				"Have you conzidered deodorant in public zpazez maybe? Zut."
			],
			"skumks" : 
			[
				"Have you fikzed your dialogz yet?"
			],
			"denelaun" : 
			[
				"Ztrange zeeing your kind not engaged in zome kind of murderouz rampage. For your zake, I hope you keep up ze good behavior."
			],
			"aegi" : 
			[
				"Who ze hell invited you here?"
			],
			"avikan" : 
			[
				"Zut. Don't even point your vierd, beady little eyez at me!"
			],
			"akkimari" : 
			[
				"You are dizguzting. Don't talk to me."
			],
			"arcanian" : 
			[
				"Vat's wrong, iz your fanzy zeeker ztation not good enough for you? Zut."
			],
			"gelsemis" : 
			[
				"Your hair iz everywhere. Can you fikz it? It'z bugging me."
			],
			"deadbeat" : 
			[
				"Panhandlerz? In MY outpozt? Ziz plaze iz going to ze dogz!"
			],
			"bunnykin" :
			[
				"Get out of my vay, runt."
			],
			"spacekidds" : 
			[
				"Ztep azide or I'll zhear you."
			],
			"lyceen" : 
			[
				"Try not to get fur on ze furniture. Zut."
			],
			"felin" : 
			[
				"Didn't azk."
			],
			"saturn" : 
			[
				"Lotz of lightz around here. Doezn't that bug you?"
			],
			"saturn2" : 
			[
				"Lotz of lightz around here. Doezn't that bug you?"
			],
			"saturnmothman" : 
			[
				"Lotz of lightz around here. Doezn't that bug you?"
			],
			"fenerox" : 
			[
				"You zmell like dirt, and ugly."
			],
			"vashknaaren" : 
			[
				"Zut. Don't talk to moi."
			],
			"vashknaarenbiped" : 
			[
				"Zut. Don't talk to moi."
			],
			"phox" : 
			[
				"I didn't realize the ztandardz around here had gotten zo low."
			],
			"centens" : 
			[
				"Talk to me again vhen your raze iz finizhed. Ha!"
			],
			"droden" : 
			[
				"You zoullezz automaton. How dare you approach moi?"
			],
			"avali" : 
			[
				"I can't zhoot you here. Cazh me outzide, how about zat?"
			],
			"FutaraDragon" : 
			[
				"Quite zimply put, you are not'ing compared to Gnazty Gnorc."
			],
			"protogen" : 
			[
				"I don't remember azking for the opinion of a talking microwave."
			],
			"protogenrace1" : 
			[
				"You've got a dead pikzel on your zcreen."
			],
			"mechit" : 
			[
				"Get out of my vay, you zkibidi-toilet-looking veirdo."
			],
			"nicemice" : 
			[
				"Greetingz from command, adjutant!"
			],
			"spirittree" : 
			[
				"Ekzcuze moi, zpirit. Hope you are doing vell."
			],
			"thelean" : 
			[
				"Greetingz."
			],
			"shizubelle" :
			[
				"How goez it, villager?"
			],
			"lamia" : 
			[
				"Looking good, znake friend!"
			],
			"mollopod" : 
			[
				"Ekzcuze me. I did not mean to be in your vay."
			],
			"vesperian" : 
			[
				"Greetingz, bat friend."
			],
			"trink" : 
			[
				"Good to zee you, trink."
			],
			"scyphojel" : 
			[
				"Greetingz to you-jol!"
			],
			"arachne" : 
			[
				"Fanzy meeting zomeone like you in a place like ziz."
			],
			"canera" : 
			[
				"Are you lozt, puppy? Vhere iz your owner?"
			]
		}
	}
}