{
	"blockKey" : 
	[
		//zpawner object zat allowz uz to uze Tiled like normal zivilized people and not zhoze PRIMITIVE other racez
		{
			"value" : [222,222,0,255],
			
			"object" : "nicemice_shipdungeonspawner",
			"objectParameters" : 
			{
				"dungeon" : "nicemice_T0ship",
				"requiredTier" : "none",
				"smashTier" : "T0",
				"residual" : true
			}
		},
		{
			"value" : [222,222,1,255],
			
			"object" : "nicemice_shipdungeonspawner",
			"objectParameters" : 
			{
				"dungeon" : "nicemice_T1ship",
				"requiredTier" : "T0",
				"smashTier" : "T1",
				"residual" : true,
				"recoveryDungeons" : 
				[
					"nicemice_T0ship"
				]
			}
		},
		{
			"value" : [222,222,2,255],
			
			"object" : "nicemice_shipdungeonspawner",
			"objectParameters" : 
			{
				"dungeon" : "nicemice_T2ship",
				"requiredTier" : "T1",
				"smashTier" : "T2",
				"residual" : true,
				"recoveryDungeons" : 
				[
					"nicemice_T1ship",
					"nicemice_T0ship"
				]
			}
		},
		{
			"value" : [222,222,3,255],
			
			"object" : "nicemice_shipdungeonspawner",
			"objectParameters" : 
			{
				"dungeon" : "nicemice_T3ship",
				"requiredTier" : "T2",
				"smashTier" : "T3",
				"residual" : true,
				"recoveryDungeons" : 
				[
					"nicemice_T2ship",
					"nicemice_T1ship",
					"nicemice_T0ship"
				]
			}
		},
		{
			"value" : [222,222,4,255],
			
			"object" : "nicemice_shipdungeonspawner",
			"objectParameters" : 
			{
				"dungeon" : "nicemice_T4ship",
				"requiredTier" : "T3",
				"smashTier" : "T4",
				"residual" : true,
				"recoveryDungeons" : 
				[
					"nicemice_T3ship",
					"nicemice_T2ship",
					"nicemice_T1ship",
					"nicemice_T0ship"
				]
			}
		},
		{
			"value" : [222,222,5,255],
			
			"object" : "nicemice_shipdungeonspawner",
			"objectParameters" : 
			{
				"dungeon" : "nicemice_T5ship",
				"requiredTier" : "T4",
				"smashTier" : "T5",
				"residual" : true,
				"recoveryDungeons" : 
				[
					"nicemice_T4ship",
					"nicemice_T3ship",
					"nicemice_T2ship",
					"nicemice_T1ship",
					"nicemice_T0ship"
				]
			}
		},
		{
			"value" : [222,222,6,255],
			
			"object" : "nicemice_shipdungeonspawner",
			"objectParameters" : 
			{
				"dungeon" : "nicemice_T6ship",
				"requiredTier" : "T5",
				"smashTier" : "T6",
				"residual" : true,
				"recoveryDungeons" : 
				[
					"nicemice_T5ship",
					"nicemice_T4ship",
					"nicemice_T3ship",
					"nicemice_T2ship",
					"nicemice_T1ship",
					"nicemice_T0ship"
				]
			}
		},
		{
			"value" : [222,222,7,255],
			
			"object" : "nicemice_shipdungeonspawner",
			"objectParameters" : 
			{
				"dungeon" : "nicemice_T7ship",
				"requiredTier" : "T6",
				"smashTier" : "T7",
				"residual" : true,
				"recoveryDungeons" : 
				[
					"nicemice_T6ship",
					"nicemice_T5ship",
					"nicemice_T4ship",
					"nicemice_T3ship",
					"nicemice_T2ship",
					"nicemice_T1ship",
					"nicemice_T0ship"
				]
			}
		},
		{
			"value" : [222,222,8,255],
			
			"object" : "nicemice_shipdungeonspawner",
			"objectParameters" : 
			{
				"dungeon" : "nicemice_T8ship",
				"requiredTier" : "T7",
				"smashTier" : "T8",
				"enableSpaceBoundary" : true,
				"residual" : true,
				"recoveryDungeons" : 
				[
					"nicemice_T7ship",
					"nicemice_T6ship",
					"nicemice_T5ship",
					"nicemice_T4ship",
					"nicemice_T3ship",
					"nicemice_T2ship",
					"nicemice_T1ship",
					"nicemice_T0ship"
				]
			}
		},
		{
			"value" : [222,222,69,255],
			
			"object" : "nicemice_shipdungeonspawner",
			"objectParameters" : 
			{
				"dungeon" : "nicemice_byos",
				"requiredTier" : "none",
				"smashTier" : "BYOS",
				"residual" : true
			}
		},
		{
			"value" : [222,111,0,255],
			
			"object" : "nicemice_shipconfirmupgrade",
			"objectParameters" : 
			{
				"requiredTier" : "none",
				"currentTier" : "T0",
				"residual" : true,
				"deadShipRecovery" : true
			}
		},
		{
			"value" : [222,111,1,255],
			
			"object" : "nicemice_shipconfirmupgrade",
			"objectParameters" : 
			{
				"requiredTier" : "T0",
				"currentTier" : "T1",
				"residual" : true,
				"deadShipRecovery" : true
			}
		},
		{
			"value" : [222,111,2,255],
			
			"object" : "nicemice_shipconfirmupgrade",
			"objectParameters" : 
			{
				"requiredTier" : "T1",
				"currentTier" : "T2",
				"residual" : true,
				"deadShipRecovery" : true
			}
		},
		{
			"value" : [222,111,3,255],
			
			"object" : "nicemice_shipconfirmupgrade",
			"objectParameters" : 
			{
				"requiredTier" : "T2",
				"currentTier" : "T3",
				"residual" : true,
				"deadShipRecovery" : true
			}
		},
		{
			"value" : [222,111,4,255],
			
			"object" : "nicemice_shipconfirmupgrade",
			"objectParameters" : 
			{
				"requiredTier" : "T3",
				"currentTier" : "T4",
				"residual" : true,
				"deadShipRecovery" : true
			}
		},
		{
			"value" : [222,111,5,255],
			
			"object" : "nicemice_shipconfirmupgrade",
			"objectParameters" : 
			{
				"requiredTier" : "T4",
				"currentTier" : "T5",
				"residual" : true,
				"deadShipRecovery" : true
			}
		},
		{
			"value" : [222,111,6,255],
			
			"object" : "nicemice_shipconfirmupgrade",
			"objectParameters" : 
			{
				"requiredTier" : "T5",
				"currentTier" : "T6",
				"residual" : true,
				"deadShipRecovery" : true
			}
		},
		{
			"value" : [222,111,7,255],
			
			"object" : "nicemice_shipconfirmupgrade",
			"objectParameters" : 
			{
				"requiredTier" : "T6",
				"currentTier" : "T7",
				"residual" : true,
				"deadShipRecovery" : true
			}
		},
		
		//green is BYOS
		{
			"value" : [69,128,69,255],
			"foregroundBlock" : false,
			"backgroundBlock" : false
		},
		
		//black is zero-gravity space
		{
			"value" : [0,0,0,255],
			"foregroundBlock" : false,
			"backgroundBlock" : false
		},
		
		//red is also unbuildable space but it's nice to see the outline of the ship
		{
			"value" : [255,0,0,255],
			"foregroundBlock" : true,
			"backgroundBlock" : true
			
			//todo remove
			//"foregroundMat" : "hazard",
			//"foregroundResidual" : true
		},
		
		//pinkish red is buildable bg but not fg
		{
			"value" : [255,0,0,255],
			"foregroundBlock" : true,
			"backgroundBlock" : false
			
			//todo remove
			//"foregroundMat" : "hazard",
			//"foregroundResidual" : true
		},
		
		//blue is "occupied" BG tile for interiors
		{
			"value" : [0,0,255,255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
						
			"backgroundMat" : "hazard",
			"backgroundResidual" : true
		},
		
		//bg tiles for lights
		{
			"value" : [32,32,255,255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
						
			"backgroundMat" : "nicemice_slopedapexshipwall",
			"backgroundResidual" : true
		},
		
		{
			"value" : [32,33,255,255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
						
			"backgroundMat" : "outpost",
			"backgroundResidual" : true
		},
		
		//dark blue is "occupied" BG tile for trusters
		{
			"value" : [0,0,64,255],
			"foregroundBlock" : false,
			"backgroundBlock" : true
		},
		
		//dark red is hazard blocks that show up when unlocking new areas of the ship
		{
			"value" : [128,0,0,255],
			"foregroundBlock" : true,
			"backgroundBlock" : false,
			
			//todo remove
			"foregroundMat" : "hazard",
			"foregroundResidual" : false
		},
		
		//white is empty air
		{
			"value" : [255,255,255,255],
			"foregroundBlock" : false,
			"backgroundBlock" : false
		},
		
		//gray is background blocks
		{
			"value" : [128,128,128,255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "hazard"
		},
		
		//low green is locked locker
		{
			"value" : [0, 128, 0, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "hazard",
			"object" : "nicemice_shiplockerTier0",
			"objectParameters" : 
			{
				"unbreakable" : true
			}
		},
		
		//bright green is functional ship locker
		{
			"value" : [0, 255, 0, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "hazard",
			"flags" : 
			[ 
				"shipLockerPosition" 
			],
			"object" : "nicemice_shiplocker",
			"objectParameters" : 
			{
				"treasurePools" : 
				[ 
					"nicemiceStarterShipLockerTreasure" 
				],
				"level" : 0.5,
				"unbreakable" : false
			},
			"objectResidual" : true
		},
		
		//dark magenta is broken teleporter
		{
			"value" : [128, 0, 128, 255],
			"anchor" : true,
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "apexshipdetails",
			"object" : "nicemice_teleporterTier0",
			"flags" : 
			[ 
				"playerSpawn" 
			],
			"objectParameters" : 
			{
				"unbreakable" : true, 
				"residual" : false
			}
		},
		
		//bright magenta is working teleporter
		{
			"value" : [255, 0, 255, 255],
			"anchor" : true,
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "apexshipdetails",
			"object" : "nicemice_teleporter",
			"flags" : 
			[ 
				"playerSpawn" 
			],
			"objectParameters" : 
			{
				"unbreakable" : true,
				"residual" : false
			}
		},
		
		//bright magenta +1 is a breakable working teleporter
		{
			"value" : [255, 1, 255, 255],
			"anchor" : true,
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "apexshipdetails",
			"object" : "nicemice_teleporter",
			"flags" : 
			[ 
				"playerSpawn" 
			],
			"objectParameters" : 
			{
				"unbreakable" : true
			}
		},
		
		//bright magenta with green is working, breakable teleporter without a bg block for BYOS
		{
			"value" : [255, 69, 255, 255],
			"anchor" : true,
			"foregroundBlock" : false,
			"backgroundBlock" : false,
			"object" : "teleporter",
			"flags" : 
			[ 
				"playerSpawn" 
			],
			"objectParameters" : 
			{
				"unbreakable" : false
			}
		},
		
		//low cyan is broken fuel hatch
		{
			"value" : [0, 128, 128, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "hazard",
			"object" : "nicemice_brokenfuelhatch",
			"objectParameters" : 
			{
				"unbreakable" : true
			}
		},
		
		//bright cyan is a working fuel hatch
		{
			"value" : [0, 255, 255, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "hazard",
			"object" : "nicemice_fuelhatch",
			"objectParameters" : 
			{
				"unbreakable" : true
			},
			"objectResidual" : false
		},
		
		//dulled cyan is a breakable working fuel hatch
		{
			"value" : [64, 192, 255, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "hazard",
			"object" : "nicemice_fuelhatch"
		},
		
		//yellow is SAIL
		{
			"value" : [255, 255, 0, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "hazard",
			"object" : "nicemice_techstation",
			"objectParameters" : 
			{
				"unbreakable" : true
			},
			"objectResidual" : false
		},
		
		//dulled yellow is breakable SAIL
		{
			"value" : [192, 192, 0, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "hazard",
			"object" : "nicemice_techstation",
			"objectParameters" : 
			{
				"unbreakable" : false
			},
			"objectResidual" : false
		},
		
		//orange is pilot chair
		{
			"value" : [255, 128, 0, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"object" : "nicemice_captainschair",
			"objectDirection" : "right",
			"objectParameters" : 
			{
				"unbreakable" : true
			}
		},
		
		//dulled orange is breakable pilot chair
		{
			"value" : [192, 64, 0, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : false,
			"object" : "nicemice_captainschair",
			"objectDirection" : "right"
		},
		
		//small booster flame
		{
			"value" : [168, 168, 168, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"object" : "nicemice_boosterflamesmall",
			"objectParameters" : 
			{
				"unbreakable" : true
			},
			"objectResidual" : false
		},

		//medium rear booster flame
		{
			"value" : [167, 167, 255, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"object" : "nicemice_boosterflamemedium",
			"objectParameters" : 
			{
				"unbreakable" : true
			},
			"objectResidual" : false
		},
		
		//broken light (sloped apex wall panel)
		{
			"value" : [128, 128, 0, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "nicemice_slopedapexshipwall",
			"backgroundResidual" : true,
			"object" : "apexshiplight",
			"objectParameters" : 
			{
				"unbreakable" : true,
				"defaultLightState" : false
			}
		},
		
		//working light
		{
			"value" : [128, 128, 64, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "nicemice_slopedapexshipwall",
			"backgroundResidual" : true,
			"object" : "apexshiplight",
			"objectParameters" : 
			{
				"unbreakable" : false,
				"defaultLightState" : true
			},
			"objectResidual" : true
		},
		
		//broken light (outpost)
		{
			"value" : [128, 128, 1, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "outpost",
			"backgroundResidual" : true,
			"object" : "apexshiplight",
			"objectParameters" : 
			{
				"unbreakable" : true,
				"defaultLightState" : false
			}
		},
		
		//working light (outpost)
		{
			"value" : [128, 128, 65, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "outpost",
			"backgroundResidual" : true,
			"object" : "apexshiplight",
			"objectParameters" : 
			{
				"unbreakable" : false,
				"defaultLightState" : true
			},
			"objectResidual" : true
		}
	]
}