{
	"blockKey" : 
	[
		//zpawner object zat allowz uz to uze Tiled like normal zivilized people and not zhoze PRIMITIVE other racez
		{
			"value" : [222,222,0,255],
			
			"object" : "nicemice_shipdungeonspawner",
			"objectParameters" : 
			{
				"dungeon" : "nicemice_T0ship",
				"requiredTier" : "none",
				"smashTier" : "T0"
			}
		},
		{
			"value" : [222,222,1,255],
			
			"object" : "nicemice_shipdungeonspawner",
			"objectParameters" : 
			{
				"dungeon" : "nicemice_T1ship",
				"requiredTier" : "T0",
				"smashTier" : "T1"
			}
		},
		{
			"value" : [222,222,2,255],
			
			"object" : "nicemice_shipdungeonspawner",
			"objectParameters" : 
			{
				"dungeon" : "nicemice_T2ship",
				"requiredTier" : "T1",
				"smashTier" : "T2"
			}
		},
		{
			"value" : [222,222,3,255],
			
			"object" : "nicemice_shipdungeonspawner",
			"objectParameters" : 
			{
				"dungeon" : "nicemice_T3ship",
				"requiredTier" : "T2",
				"smashTier" : "T3"
			}
		},
		{
			"value" : [222,222,4,255],
			
			"object" : "nicemice_shipdungeonspawner",
			"objectParameters" : 
			{
				"dungeon" : "nicemice_T4ship",
				"requiredTier" : "T3",
				"smashTier" : "T4"
			}
		},
		{
			"value" : [222,222,5,255],
			
			"object" : "nicemice_shipdungeonspawner",
			"objectParameters" : 
			{
				"dungeon" : "nicemice_T5ship",
				"requiredTier" : "T4",
				"smashTier" : "T5"
			}
		},
		{
			"value" : [222,222,6,255],
			
			"object" : "nicemice_shipdungeonspawner",
			"objectParameters" : 
			{
				"dungeon" : "nicemice_T6ship",
				"requiredTier" : "T5",
				"smashTier" : "T6"
			}
		},
		{
			"value" : [222,222,7,255],
			
			"object" : "nicemice_shipdungeonspawner",
			"objectParameters" : 
			{
				"dungeon" : "nicemice_T7ship",
				"requiredTier" : "T6",
				"smashTier" : "T7"
			}
		},
		{
			"value" : [222,222,8,255],
			
			"object" : "nicemice_shipdungeonspawner",
			"objectParameters" : 
			{
				"dungeon" : "nicemice_T8ship",
				"requiredTier" : "T7",
				"smashTier" : "T8",
				"enableSpaceBoundary" : true
			}
		},
		
		//black is zero-gravity space
		{
			"value" : [0,0,0,255],
			"foregroundBlock" : false,
			"backgroundBlock" : false
		},
		
		//red is also unbuildable space but it's nice to see the outline of the ship
		{
			"value" : [255,0,0,255],
			"foregroundBlock" : true,
			"backgroundBlock" : true
			
			//todo remove
			//"foregroundMat" : "hazard",
			//"foregroundResidual" : true
		},
		
		//pinkish red is buildable bg but not fg
		{
			"value" : [255,0,0,255],
			"foregroundBlock" : true,
			"backgroundBlock" : false
			
			//todo remove
			//"foregroundMat" : "hazard",
			//"foregroundResidual" : true
		},
		
		//blue is "occupied" BG tile
		{
			"value" : [0,0,255,255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			
			//todo remove
			"backgroundMat" : "hazard",
			"backgroundResidual" : true
		},
		
		//dark red is a placeholder so I can see where hatches will be
		{
			"value" : [128,0,0,255],
			"foregroundBlock" : true,
			"backgroundBlock" : false,
			
			//todo remove
			"foregroundMat" : "hazard",
			"foregroundResidual" : true
		},
		
		//white is empty air
		{
			"value" : [255,255,255,255],
			"foregroundBlock" : false,
			"backgroundBlock" : false
		},
		
		//gray is background blocks
		{
			"value" : [128,128,128,255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "hazard"
		},
		
		//low green is locked locker
		{
			"value" : [0, 128, 0, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "hazard",
			"object" : "apexshiplockerTier0",
			"objectParameters" : 
			{
				"unbreakable" : true
			}
		},
		
		//bright green is functional ship locker
		{
			"value" : [0, 255, 0, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "hazard",
			"flags" : 
			[ 
				"shipLockerPosition" 
			],
			"object" : "apexshiplocker",
			"objectParameters" : 
			{
				"treasurePools" : 
				[ 
					"nicemiceStarterShipLockerTreasure" 
				],
				"level" : 0.5,
				"unbreakable" : false
			},
			"objectResidual" : true
		},
		
		//dark magenta is broken teleporter
		{
			"value" : [128, 0, 128, 255],
			"anchor" : true,
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "apexshipdetails",
			"object" : "teleporterTier0",
			"flags" : 
			[ 
				"playerSpawn" 
			],
			"objectParameters" : 
			{
				"unbreakable" : true
			}
		},
		
		//bright magenta is working teleporter
		{
			"value" : [255, 0, 255, 255],
			"anchor" : true,
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "apexshipdetails",
			"object" : "teleporter",
			"flags" : 
			[ 
				"playerSpawn" 
			],
			"objectParameters" : 
			{
				"unbreakable" : true
			}
		},
		
		//low cyan is broken fuel hatch
		{
			"value" : [0, 128, 128, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "hazard",
			"object" : "brokenapexfuelhatch",
			"objectParameters" : 
			{
				"unbreakable" : true
			}
		},
		
		//bright cyan is a working fuel hatch
		{
			"value" : [0, 255, 255, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "hazard",
			"object" : "apexfuelhatch",
			"objectParameters" : 
			{
				"unbreakable" : true
			},
			"objectResidual" : false
		},
		
		//dulled cyan is a breakable working fuel hatch
		{
			"value" : [64, 192, 255, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "hazard",
			"object" : "apexfuelhatch"
		},
		
		//yellow is SAIL
		{
			"value" : [255, 255, 0, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "hazard",
			"object" : "nicemice_techstation",
			"objectParameters" : 
			{
				"unbreakable" : true
			},
			"objectResidual" : false
		},
		
		//dulled yellow is breakable SAIL
		{
			"value" : [192, 192, 0, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "hazard",
			"object" : "nicemice_techstation",
			"objectParameters" : 
			{
				"unbreakable" : false
			},
			"objectResidual" : false
		},
		
		//orange is pilot chair
		{
			"value" : [255, 128, 0, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"object" : "apexcaptainschair",
			"objectDirection" : "right",
			"objectParameters" : 
			{
				"unbreakable" : true
			}
		},
		
		//dulled orange is breakable pilot chair
		{
			"value" : [192, 64, 0, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : false,
			"object" : "apexcaptainschair",
			"objectDirection" : "right"
		}
	]
}