{
	"blockKey" : 
	[
		//black is unbuildable space
		{
			"value" : [0,0,0,255],
			"foregroundBlock" : true,
			"backgroundBlock" : true
		},
		
		//red is also unbuildable space but it's nice to see the outline of the ship
		{
			"value" : [255,0,0,255],
			"foregroundBlock" : true,
			"backgroundBlock" : true
			
			//todo remove
			//"foregroundMat" : "hazard",
			//"foregroundResidual" : true
		},
		
		//blue is "occupied" BG tile
		{
			"value" : [0,0,255,255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			
			//todo remove
			"backgroundMat" : "hazard",
			"backgroundResidual" : true
		},
		
		//dark red is a placeholder so I can see where hatches will be
		{
			"value" : [128,0,0,255],
			"foregroundBlock" : true,
			"backgroundBlock" : false,
			
			//todo remove
			"foregroundMat" : "hazard",
			"foregroundResidual" : true
		},
		
		//white is empty air
		{
			"value" : [255,255,255,255],
			"foregroundBlock" : false,
			"backgroundBlock" : false
		},
		
		//gray is background blocks
		{
			"value" : [128,128,128,255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "hazard"
		},
		
		//low green is locked locker
		{
			"value" : [0, 128, 0, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "hazard",
			"object" : "apexshiplockerTier0",
			"objectParameters" : 
			{
				"unbreakable" : true
			}
		},
		
		//bright green is functional ship locker
		{
			"value" : [0, 255, 0, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "hazard",
			"flags" : 
			[ 
				"shipLockerPosition" 
			],
			"object" : "apexshiplocker",
			"objectParameters" : 
			{
				"treasurePools" : 
				[ 
					"nicemiceStarterShipLockerTreasure" 
				],
				"level" : 0.5,
				"unbreakable" : false
			},
			"objectResidual" : true
		},
		
		//dark magenta is broken teleporter
		{
			"value" : [128, 0, 128, 255],
			"anchor" : true,
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "apexshipdetails",
			"object" : "teleporterTier0",
			"flags" : 
			[ 
				"playerSpawn" 
			],
			"objectParameters" : 
			{
				"unbreakable" : true
			}
		},
		
		//bright magenta is working teleporter
		{
			"value" : [255, 0, 255, 255],
			"anchor" : true,
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "apexshipdetails",
			"object" : "teleporter",
			"flags" : 
			[ 
				"playerSpawn" 
			],
			"objectParameters" : 
			{
				"unbreakable" : true
			}
		},
		
		//low cyan is broken fuel hatch
		{
			"value" : [0, 128, 128, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "hazard",
			"object" : "brokenapexfuelhatch",
			"objectParameters" : 
			{
				"unbreakable" : true
			}
		},
		
		//bright cyan is a working fuel hatch
		{
			"value" : [0, 255, 255, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "hazard",
			"object" : "apexfuelhatch",
			"objectParameters" : 
			{
				"unbreakable" : true
			},
			"objectResidual" : false
		},
		
		//dulled cyan is a breakable working fuel hatch
		{
			"value" : [64, 192, 255, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "hazard",
			"object" : "apexfuelhatch"
		},
		
		//yellow is SAIL
		{
			"value" : [255, 255, 0, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "hazard",
			"object" : "nicemice_techstation",
			"objectParameters" : 
			{
				"unbreakable" : true
			},
			"objectResidual" : false
		},
		
		//dulled yellow is breakable SAIL
		{
			"value" : [192, 192, 0, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"backgroundMat" : "hazard",
			"object" : "nicemice_techstation",
			"objectParameters" : 
			{
				"unbreakable" : false
			},
			"objectResidual" : false
		},
		
		//orange is pilot chair
		{
			"value" : [255, 128, 0, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : true,
			"object" : "apexcaptainschair",
			"objectDirection" : "right",
			"objectParameters" : 
			{
				"unbreakable" : true
			}
		},
		
		//dulled orange is breakable pilot chair
		{
			"value" : [192, 64, 0, 255],
			"foregroundBlock" : false,
			"backgroundBlock" : false,
			"object" : "apexcaptainschair",
			"objectDirection" : "right"
		}
	]
}